<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/authentication/newpassword.css' %}">
</head>
<body>
    <div class="container">
        <form method="post" class="password-reset-form">
            {% csrf_token %}
            <h1>Reset Your Password</h1>
            
            <div class="input-group">
                <label for="pass1">New Password</label>
                <input type="text"  name="pass1" placeholder="Enter new password" required>
            </div>
            
            <div class="input-group">
                <label for="pass2">Confirm Password</label>
                <input type="password"  name="pass2" placeholder="Re-enter new password" required>
            </div>
            
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</body>
</html>
