<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Library Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/customers_app/customer.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="header-container">
        <h1 style="text-align: center;">WELCOME - {{ my_name.username | upper }} | THE LIBRARY BOOKS</h1>
        <!-- <h1>Welcome - {{ username | upper }} | {{ some_date_variable | date:"F j, Y" }} | Available Books</h1> -->
       
    </div>
    <div class="top-right">
        <a href="{% url 'customerdetail' %}">My Detail</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    
    <table>
        <thead>
            <tr>
                <th>S.NO</th>
                <th>BOOK TITLE</th>
                <th>BOOK AUTHOR</th>
                <th>BOOK ISBN</th>
                <th>BOOK CATEGORY</th>
                <th>BOOK IMAGE</th>
                <th>BOOK</th>
            </tr>
        </thead>
        <tbody>
            {% for i in page_obj %}
            <tr>
                <td>{{ forloop.counter|add:start_index }}.</td>
                <td>{{ i.BOOK_TITLE }}</td>
                <td>{{ i.BOOK_AUTHOR }}</td>
                <td>{{ i.ISBN }}</td>
                <td>{{ i.BOOK_CATEGORY }}</td>
                <td><img src="{{ i.BOOK_IMAGE.url }}" alt="book image" width="90px" height="100px"></td>
                <td><a href="{% url 'book' i.id %}" style="font-weight: 700;">READ BOOK</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- First Page -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">First</span>
            </li>
            {% endif %}
    
            <!-- Page Numbers -->
            {% for page_num in page_obj.paginator.page_range %}
            {% if page_num >= page_obj.number|add:"-1" and page_num <= page_obj.number|add:"1" %}
            {% if page_num == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_num }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
    
            <!-- Last Page -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">Last</span>
            </li>
            {% endif %}
        </ul>
    </nav>
    
       
</body>
</html>

<script>
    $(document).ready(function () {
            $('.alert').fadeOut(4000);
        });
</script>